<!DOCTYPE html>
<html lang="fr">
<head>
        <meta charset="utf-8" />
        <title>Python I/O - News</title>
        <link rel="stylesheet" href="/theme/css/main.css" />
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="/">Python I/O <strong>Articles et news par des Pythonistas passionnés</strong></a></h1>
                <nav><ul>
                    <li><a href="/category/news.html">News</a></li>
                    <li><a href="/category/articles.html">Articles</a></li>
                    <li><a href="/category/tutoriels.html">Tutoriels</a></li>
                    <li><a href="/categories.html">Catégories</a></li>
                    <li><a href="/tags.html">Tags</a></li>
                    <li><a href="/category/articles.html">Articles</a></li>
                    <li class="active"><a href="/category/news.html">News</a></li>
                    <li><a href="/category/tutoriels.html">Tutoriels</a></li>
                </ul></nav>
        </header><!-- /#banner -->

            <aside id="featured" class="body">
                <article>
                    <h1 class="entry-title"><a href="/une-nouvelle-plateforme.html">Une nouvelle plateforme de publication</a></h1>
<footer class="post-info">
        <abbr class="published" title="2018-07-02T09:00:00+02:00">
                Published: lun. 02 juillet 2018
        </abbr>

        <address class="vcard author">
                By                         <a class="url fn" href="/author/thierry-chappuis.html">Thierry Chappuis</a>
        </address>
<p>In <a href="/category/news.html">News</a>.</p>

</footer><!-- /.post-info --><p>Ce site propose d'offrir une plateforme de publication collaborative maintenue par les étudiants et mentors du discord des étudiants DA Python et Data Scientists de OpenClassrooms. L'objectif de cette dernière est de fournir des news, des didacticiels, des critiques de livres, des astuces en relation avec le langage de programmation python. </p>
<p>Ce blog est généré à l'aide de Pelican et construit automatiquement à chaque commit à l'aide du service d'intégration continue Travis-CI. La mise en place d'un workflow de rédaction centré autour de github est un des objectifs pédagogiques de ce projet qui vise à familiariser l'équipe de rédaction avec la gestion d'un projet collaboratif.</p>
<p>Ce blog est encore en construction. Au plaisir de vous y retrouver prochainement.</p>                </article>
            </aside><!-- /#featured -->
        <section id="extras" class="body">
        </section><!-- /#extras -->

        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->

                <p>The theme is by <a href="http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/">Smashing Magazine</a>, thanks!</p>
        </footer><!-- /#contentinfo -->

</body>
</html>